body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f7f3ec;
  color: #24212a;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";

  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(
      rgba(255,255,255,.12),
      rgba(255,255,255,.12)
    ),
    url("images/hero-bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: scale(1.04);
  animation: waterDrift 18s ease-in-out infinite alternate;

  z-index: 1;
}

@keyframes waterDrift {
  from {
    transform: scale(1.04) translate(-8px, -6px);
  }

  to {
    transform: scale(1.08) translate(8px, 6px);
  }
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: clamp(82px, 10vw, 150px);
  font-weight: 500;
  line-height: .9;
  letter-spacing: -0.055em;
  color: rgba(32, 29, 42, .88);
  margin-bottom: 30px;
}

p {
  font-family: "Playfair Display", serif;
  font-size: clamp(24px, 2.4vw, 38px);
  font-weight: 500;
  color: rgba(54, 49, 66, .72);
}

.subtitle {
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  letter-spacing: .08em;
  color: rgba(36,33,42,.78);
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 34px 7%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  color: rgba(36,33,42,.82);
}

.nav-links {
  display: flex;
  gap: 34px;
}

.nav-links a {
  text-decoration: none;
  color: rgba(36,33,42,.68);
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

.nav-links a:hover {
  color: rgba(36,33,42,1);
}

.hero-content {
  position: relative;
  z-index: 3;
  text-align: center;
  transform: translateY(22px);
}

.hero-buttons {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.btn {
  min-width: 190px;
  padding: 16px 34px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  backdrop-filter: blur(14px);
  transition: all .35s ease;
}

.btn.primary {
  background: rgba(36,33,42,.82);
  color: white;
}

.btn.secondary {
  border: 1px solid rgba(36,33,42,.38);
  color: rgba(36,33,42,.9);
  background: rgba(255,255,255,.18);
}

.btn:hover {
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 34px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 220px;
  }
}

#rippleCanvas {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 2;
  pointer-events: none;
}
